@import "tailwindcss";
* {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #111827;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
}
::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 9999px;
  border: 2px solid #111827;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563;
}
@layer components {
  .nav-icon {
    @apply inline w-6 h-6 sm:w-5 sm:h-5 group-hover:text-indigo-500 transition;
  }
  .content-separator {
    @apply pb-8 border-b border-gray-700;
  }
  .content-box {
    @apply bg-white/5 p-4 rounded-lg;
  }
}
@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 1s step-end infinite;
  }
}
